# Python
.pytest_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Logs
logs/
*.log

# Secrets
.secrets.json

# Config (если специфично под среду)
config.json

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Docker
*.env
*.pid

# Misc
*.swp
.DS_Store
